body {
  background: blue;
  color: black;
}
h1 {
  border: yellow 1px solid;
  background: red;
  color: white;
}
h2{
  background-color: rgba(148, 0, 211, 0.336);
}
a{
  color: yellow;
  text-decoration: none;
}